<p>Need help with any of there</p>

<div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="#">
        <div class="ip7">
            <h4>iphone7</h4>
            <img src="../../assets/brid.png" alt="">
        </div>
    </a>
    <a class="card" target="_blank" rel="noopener" href="#">
        <div class="ip7">
            <h4>iphone7</h4>
            <img src="../../assets/brid.png" alt="">
        </div>
    </a>

    <a class="card" target="_blank" rel="noopener" href="#">
        <div class="ip7">
            <h4>iphone7</h4>
            <img src="../../assets/brid.png" alt="">
        </div>
    </a>
    <a class="card" target="_blank" rel="noopener" href="#">
        <div class="ip7">
            <h4>iphone7</h4>
            <img src="../../assets/brid.png" alt="">
        </div>
    </a>

</div>