form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    width: 50%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    margin-top: 8px;
}

.card input[type=text] {
    margin-top: 280px;
    margin-left: 100px;
    border-radius: 4px;
    background: white;
    height: 40px;
    width: 1000px;
    font-size: 17px;
    border: 1px solid grey;
    /*justify-content: center;
    align-items: center;*/
    transform: translateY(2px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}