<div>
    <h3>We are a community based help service</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nihil quae non neque laudantium maxime incidunt <br>, ducimus distinctio at eos voluptas molestias quasi cupiditate debitis, vitae corrupti qui quidem amet? Lorem ipsum dolor sit amet
        consectetur, adipisicing elit.<br> Recusandae enim repudiandae in veritatis nisi voluptatibus dolor, aliquam perferendis architecto necessitatibus quasi nesciunt expedita sit, sequi labore quae asperiores harum incidunt? Lorem ipsum dolor sit
        amet consectetur, adipisicing elit. Dolorem quaerat praesentium blanditiis provident cum cupiditate laborum voluptatem officia tempore quidem, possimus qui obcaecati quia! Ipsa velit quia incidunt. Tempore, sequi. Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Dolores, incidunt magnam ratione, assumenda delectus rem fugiat sunt minima repellat nobis excepturi deleniti iste, modi natus libero aliquam facilis quibusdam. Quia.
    </p>
</div>
<div class="set">
    <a href="#" class="active">TRY IT FREE</a>
    <a href="#" class="up">SGIN UP</a>
</div>